html,
body {
    font-family: Verdana, sans-serif;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    padding-left: 1em;
}

.logo-title {
    display: flex;
}

.search-bar {
    height: 2em;
    width: 20em;
    border: 1px solid black;
}

.login-text {
    color: white;
    font-weight: bold;
    padding-right: 2em;
}

.logo {
    height: 5em;
    width: 6em;
}

.card-body {
    width: 300px;
    max-width: 325px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.imageClass {
    width: 100%;
    height: 325px;
}

.about-us {
    width: 200px;
    height: 200px;
}

.text-name {
    font-weight: bold;
    margin: 5px;
    font-size: 18px;
}

.text-class {
    margin: 5px;
    color: dimgrey;
}

.text-location {
    color: dimgrey;
    font-size: 13px;
    font-weight: 600;
}

.text-company {
    color: darkgoldenrod;
    font-weight: 800;
    font-size: 14px;
}

.card-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.user-icon {
    height: 1em;
}

.card-footer {
    background-color: #e1e3e5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.seach-div {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.search-btn {
    height: 2.3em;
    background-color: black;
    color: white;
}